* {
  box-sizing: border-box; /* padding and border are included in the total width and height of the elements */
backgroung-color: pink;
}

.home-body {
  max-width: 90vw;
  margin: auto
}

.home-bio-row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
  width: 700px;
 }

body {
  color: #575757;
}

p {        
    font-family: Helvetica,arial,sans-serif;
    font-family: ltc-bodoni-175;
    font-weight: normal;
    line-height: 1.6em;
    font-size: 1em;
    margin: 0 0 1em;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left; /* allows the div blocks to sit in a row */
}
