* {
  box-sizing: border-box; /* padding and border are included in the total width and height of the elements */
backgroung-color: pink;
}

img {
  max-width: 100%;
  height: auto;
  width: 700px;
 }

[class*="col-"] {
  width: 100%;
} 