body {
    background-image: url('/fIS2zkx\ -\ Imgur.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;         
    }

.paragraph {
    padding: 30px;
    margin: auto;
    }

address {
    font-style: normal;
    }