body {
    background-image: url('/fIS2zkx\ -\ Imgur 4.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;            
}


/*
body {
    position: relative; 
    height: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {    
      content: "";
      background-image: url('/fIS2zkx\ -\ Imgur.jpg');
      background-size: cover;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
}
*/
h1, h2, address{
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 10%;
    font-family: 'helvetica';
    color: rgb(175, 175, 175);
}


.paragraph {
    position: relative;
    padding: 30px;
    margin-left: 10%;
    min-width: 400px;
    text-indent: 2em;
    font-family: 'helvetica';
    color: rgb(175, 175, 175);
}

.paragraph a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

address a {
    text-decoration: none;
    color: rgb(175, 175, 175);

}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

img {
    max-width: 100%; 
}

.portrait {
    flex-basis: 100%;
    padding-left: 100px;
    min-width: 400px;
       
}

.navbar { /*pins the contents to left of page*/
    position: fixed;
    top: 0px;
    left: 0px;    
    height: 100%;
    width: 8%;
    background-color: rgba(100,100,100, 0.5);
    color: rgb(175, 175, 175);
    text-decoration: none;
    padding-left: 2em;
}

.navbar a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}