body {
    background-image: url('/fIS2zkx\ -\ Imgur.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;         
}

.paragraph {
    padding: 30px;
    margin: auto;
    min-width: 400px;
    text-indent: 1em;
}

address {
    font-style: normal;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%; 
}

.portrait {
    flex-basis: 100%;
    padding-right: 100px;
    min-width: 400px;
}

